<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'/>
    <link rel='stylesheet' href='/css/styles.css'/>
    <script src='/script/app.js'></script>
</head>

<body>
    <div class='main-content'>
        {{>header}}
    <p class='para'>This app invokes the WeatherStack API to retreive the data for the provided City and State</p>
    <img class='potrait' src='/img/IMG_4212 2.png'/>
    </div>
    
    {{>footer}}
</body>