<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/farm.png'/>
    <link rel='stylesheet' href='/css/styles.css'/>
    <script src='/script/app.js'></script>
</head>

<body>
    <div class='main-content'>
        {{>header}}
    <p class='para'>Our idea is to empower the farmers economically by providing support through an interactive portal called SAHAKARA DIGITAL FARMS which will enable the farmers to get financial support to adapt AGROFORESTRY FARMING and support to use Internet of Things (IOT) to enhance productivity in farming</p>
    <img class='potrait' src='/img/Logo.png'/>
    </div>
    
    {{>footer}}
</body>