img {
    width: 450px;
    padding: 12px;
}

body {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    padding: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: green;
    margin-right: 16px;
    text-decoration: none;
    cursor: pointer;
}

.potrait {
    width: 250px;
}

input {
    border : 1px solid brown;
    padding: 8px;
}

button {
    border: 1px solid grey;
    padding: 8px;
    background: grey;
    color: white;
    cursor: pointer;
}

.para {
    color: black;
    font-family: cursive;
    padding: 0 16px;
}